@import "./../../styles/variables.scss";

$navbar-height: 84px;
$logo-block-height: 22px;

nav.navbar {
  height: $navbar-height;
  .container {
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

nav.navbar {
  background: gold;
  .container {
    background: red;
    a.navbar-brand {
      span {
        font-size: 1.3em;
        color: $color-contrast;
      }
    }
  }
}
