@import "./../../styles/variables.scss";

nav.navbar {
  height: $navbar-height;
  .container {
    height: $navbar-height;
    a.nav-link {
      font-weight: 300;
      letter-spacing: 0.02em;
      font-size: 1.1em;
      text-decoration: none;
    }
  }
}

nav.navbar {
  background: transparentize($color-base, 0.3);
}

nav.navbar {
  background: gold;
  .container {
    background: red;
    a.navbar-brand {
      span {
        font-size: 1.3em;
        color: $color-contrast;
      }
    }
    .nav-item {
    }
  }
}
