$chart-component-height: 350px;
$chart-header-height: 100px;

.chart-component-wrapper {
  height: $chart-component-height;
  width: 100%;
  .chart-header {
    height: $chart-header-height;
  }
  .chart-wrapper {
    height: $chart-component-height - $chart-header-height;
    width: 100%;
  }
}


// .chart-component-wrapper {
// background:gold;
//   .chart-header {
//     background:blue;
//   }
//   .chart-wrapper {
//     background:red;
//   }
// }
