@import "./../../styles/variables.scss";

$minidash-component-height: 220px;
$minidash-header-height: 100px;
$minidash-panel-height: $minidash-component-height - $minidash-header-height;

.minidash-component-wrapper {
  min-height: $minidash-component-height;
  height: auto;
  width: 100%;
  .minidash-header {
    height: $minidash-header-height;
  }
  .minidash-wrapper {
    margin-left: 0;
    margin-right: 0;
    .minidash-panel {
      transition: all 400ms;
      border-radius: 5px;
      height: $minidash-panel-height;
      &.good {
        background-color: $green;
      }
      &.bad {
        background-color: $red;
      }
      &.unchanged {
        background-color: $gray;
      }
      .title {
        height: 40%;
        text-transform: uppercase;
        font-weight: 400;
      }
      .value {
        font-size: 2em;
        transition: all 800ms;
        .arrow {
          width: 30%;
        }
        .count {
          width: 70%;
          span.percent {
            opacity: 0.5;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

// .minidash-component-wrapper {
//   background: gold;
//   .minidash-header {
//     background: blue;
//   }
//   .minidash-wrapper {
//     background: red;
//     .minidash-panel {
//       &.good {
//         background-color: $green;
//       }
//       &.bad {
//         background-color: $red;
//       }
//       &.unchanged {
//         background-color: $gray;
//       }
//       .title {
//       }
//       .value {
//         .arrow {
//         }
//         .count {
//           span.percent {
//           }
//         }
//       }
//     }
//   }
// }
