body {
  margin: 0;
  padding: 0;
  // overflow-y: scroll;
  --secondary: rgb(161, 161, 161);
  --divider: #c7c7c7;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.overlay {
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  position: fixed;
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  & a {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
}
