@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import "./variables.scss";

body {
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  p {
    line-height: normal;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 1.5em;
  }
  b {
    font-weight: 500;
  }
  h1 {
    font-size: 1.3rem;
    font-weight: 500;
  }
  h2 {
    font-size: 1.3rem;
  }
  .category {
    font-size: 14px;
    text-transform: uppercase;
    color: $muted;
  }
}

