/*----- Colors ------*/
$background-color: #384149;
$text-color: #eeeeee;
$muted: lighten($background-color, 15%);

$gray: lighten($background-color, 15%);
$red: rgb(150, 69, 69);
$orange: rgb(216, 111, 13);
$gold: rgb(235, 174, 5);
$green: rgb(89, 153, 63);
$blue: rgb(42, 92, 150);
$purple: rgb(102, 63, 153);

:export {
  backgroundColor: $background-color;
  textColor: $text-color;
  muted:$muted;
  gray: $gray;
  red: $red;
  orange: $orange;
  gold: $gold;
  green: $green;
  blue: $blue;
  purple: $purple;
}

/*----- Text ------*/

$font-size: 15px;
$font-family: "Rubik", sans-serif;

:export {
  fontSize: $font-size;
  fontFamily: $font-family;
}
