/*----- Colors ------*/

$base-color: rgb(72, 106, 146);
$background-color: #fff;
$text-color: $base-color;
$text-light: #fff;
$muted: lighten($text-color, 15%);

$gray: lighten($base-color, 25%);
$red: rgb(199, 58, 33);
$orange: rgb(255, 129, 11);
$gold: rgb(255, 187, 0);
$green: rgb(99, 177, 68);
$blue: rgb(44, 111, 187);
$purple: rgb(102, 63, 153);

:export {
  backgroundColor: $background-color;
  textColor: $text-color;
  muted: $muted;
  gray: $gray;
  red: $red;
  orange: $orange;
  gold: $gold;
  green: $green;
  blue: $blue;
  purple: $purple;
}
