@import "./../../../styles/variables.scss";

$dot-size: 130px;

.dot-panel {
  border-radius: $dot-size;
  height: $dot-size;
  width: $dot-size;
  .title {
    height: $dot-size * 0.42;
    text-transform: uppercase;
    font-weight: 400;
  }
  .value {
    font-size: 2em;
    transition: all 800ms;
    .arrow {
      width: 30%;
    }
    .count {
      width: 70%;
      span.percent {
        opacity: 0.5;
        font-size: 0.8em;
      }
    }
  }
}

.dot-panel {
  // They start smaller to prevent overflow onHover
  transition: all 300ms;
  transform: scale(0.96);
  cursor: pointer;
  &:hover {
    transform: scale(1);
  }
}

.dot-panel {
  color:$text-light;
  &.good {
    background-color: $green;
  }
  &.bad {
    background-color: $red;
  }
  &.unchanged {
    background-color: $gray;
  }
}

//     .dot-panel {
//       &.good {
//         background-color: $green;
//       }
//       &.bad {
//         background-color: $red;
//       }
//       &.unchanged {
//         background-color: $gray;
//       }
//       .title {
//       }
//       .value {
//         .arrow {
//         }
//         .count {
//           span.percent {
//           }
//         }
//       }
//     }
