@import "./../../styles/variables.scss";

/*---- list ----*/
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/*---- Card ----*/
.card {
  position: relative;
  padding: 25px;
}

.card:nth-child(odd) {
  padding-left: 0;
}

.card:nth-child(even) {
  padding-right: 0;
}

.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
  .card-content {
    pointer-events: auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  &.open {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    padding: 40px 0;
    .card-content {
      height: auto;
      // max-width: 700px;
      overflow: hidden;
      pointer-events: none;
      .content-container {
        padding: 460px 35px 35px 35px;
        width: 90vw;
      }
    }
  }
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (min-width: 801px) {
  .card {
    height: 280px;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 60%;
    max-width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
    height: 280px;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 10px 0;
    height: 200px;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

/* ----- Colors ------ */
.card-content {
  background: lighten($base-color, 52%);
}

/* ----- Dev Colors ------ */
// .card {
//   background: red;
// }
// .card-content-container {
//   background: orange;
//   &.open {
//     background: orange;
//     .card-content {
//       background: gold;
//     }
//   }
//   .card-content {
//     background: gold;
//   }
//   .card-open-link {
//     background: blue;
//   }
// }
