@import "./../../styles/variables.scss";

$card-gutter: 20px;
$card-closed-height-xs: 200px;
$card-closed-height-sm: 340px;
$card-closed-height-md: 340px;

$card-open-height-xs: 500px;
$card-open-height-sm: 600px;
$card-open-height-md: 700px;

$card-padding-xs: 20px;
$card-padding-sm: 30px;
$card-padding-md: 40px;

$card-title-height: 54px;
$card-display-height-closed-xs: $card-closed-height-xs - ($card-padding-xs * 2) -
  $card-title-height;
$card-display-height-closed-sm: $card-closed-height-sm - ($card-padding-sm * 2) -
  $card-title-height;
$card-display-height-closed-md: $card-closed-height-md - ($card-padding-md * 2) -
  $card-title-height;

$card-display-height-open-xs: $card-open-height-xs - ($card-padding-xs * 2) -
  $card-title-height;
$card-display-height-open-sm: $card-open-height-sm - ($card-padding-sm * 2) -
  $card-title-height;
$card-display-height-open-md: $card-open-height-md - ($card-padding-md * 2) -
  $card-title-height;

/*---- CardList ----*/
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/*---- Card Row ----*/
.card {
  position: relative;
}

.card-container {
  //position: relative;
  pointer-events: none;
  .card-content {
    pointer-events: auto;
    position: relative;
    border-radius: 10px;
    //overflow: hidden;
    // width: 100%;
    // margin: 0 auto;
  }
  .title-container {
    height: $card-title-height;
  }
  .display-container {
    height: 100%;
  }
  &.open {
    margin: 60px auto 0 auto;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    width: 90vw;
    max-width: 700px;
    display: flex;
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      pointer-events: none;
    }
  }
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*-------- Media Queries ----------*/

@media only screen and (min-width: 801px) {
  .card {
    height: $card-closed-height-md;
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: $card-gutter;
  }
  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .card:nth-child(4n + 1) {
    padding-right: $card-gutter;
  }
  .card:nth-child(4n + 4) {
    padding-left: $card-gutter;
  }
  .card-container {
    height: $card-closed-height-md;
    .card-content {
      padding: $card-padding-md;
      height: $card-closed-height-md;
      .display-container {
        height: $card-display-height-closed-md;
      }
    }
    &.open {
      height: $card-open-height-md;
      .card-content {
        padding: $card-padding-md;
        height: $card-open-height-md;
        .display-container {
          height: $card-display-height-open-md;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
    height: $card-closed-height-sm;
    margin-bottom: $card-gutter;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card:nth-child(4n + 1) {
    padding-right: $card-gutter;
  }
  .card:nth-child(4n + 4) {
    padding-left: $card-gutter;
  }

  .card-container {
    height: $card-closed-height-sm;
    .card-content {
      padding: $card-padding-sm;
      height: $card-closed-height-sm;
      .display-container {
        height: $card-display-height-closed-sm;
      }
    }
    &.open {
      height: $card-open-height-sm;
      .card-content {
        padding: $card-padding-sm;
        height: $card-open-height-sm;
        .display-container {
          height: $card-display-height-open-sm;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 1 0 100%;
    max-width: 100%;
    height: $card-closed-height-xs;
    margin-bottom: $card-gutter;
  }
  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .card-container {
    height: $card-closed-height-xs;
    .card-content {
      padding: $card-padding-xs;
      height: $card-closed-height-xs;
      .display-container {
        height: $card-display-height-closed-xs;
      }
    }
    &.open {
      height: $card-open-height-xs;
      .card-content {
        padding: $card-padding-xs;
        height: $card-open-height-xs;
        .display-container {
          height: $card-display-height-open-xs;
        }
      }
    }
  }
}

/* ----- Colors ------ */
.card-content {
  background: lighten($base-color, 52%);
}

/* ----- Dev Colors ------ */
// .card {
//   background: red;
// }
// .card-container {
//   &.open {
//     background: green;
//   }
//   .card-content {
//     background: gold;
//     .title-container {
//       background: blue;
//     }
//     .display-container {
//       background: red;
//     }
//   }
//   .card-open-link {
//     background: blue;
//   }
// }
