$tile-height: 380px;

.portfolio-wrapper {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  stackgrid {
    span {
      margin-bottom:5px;
      position: relative;
      top: 0;
      left: 0;
      height: $tile-height;
      div.tile {
        margin-bottom:5px;
        position: relative;
        top: 0;
        left: 0;
        min-height: $tile-height;
        height:auto;
      }
      div.content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px;
        min-height: $tile-height;
        height:auto;
      }
    }
  }
}

.portfolio-wrapper {
  stackgrid {
    span {
      div.tile {
        opacity: 0.2;
      }
      div.content {
      }
    }
  }
}
