$navbar-height: 80px;
$logo-height: 70px;

nav.navbar {
  padding: 0;
  margin-top: 20px;
  height: $navbar-height;
  .container-fluid {
    display: flex;
    height: inherit;
    .blur-box {
      height: $logo-height;
      position: relative;
    }
    .header-logo, .header-logo img,
    .header-logo-blur, .header-logo-blur img {
      height: $logo-height;
    }
    .header-logo {
      z-index: +100;
    }

    .header-logo-blur {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

nav.navbar {
  background: none;
  .container-fluid {
    background: none;
    .header-logo-blur {
      filter: blur(12px);
    }
  }
}

// nav.navbar {
//   background: gold;
//   .container-fluid {
//     background: red;
//     .header-logo {
//       height: 34px;
//       margin: 0 auto;
//     }
//   }
// }
