$navbar-height: 80px;

.nav-link {
  font-size: 2em;
  color: #fff;
}

.nav-link span {
  transition: all 300ms;
  transform: scale(1);
}

.nav-link span:hover {
  color: #fff;
  transform: scale(1.05);
}

/*
nav.navbar {
  padding: 0;
  margin: none;
  height: $navbar-height;
  .container-fluid {
    padding: 0 40px;
    display: flex;
    height: inherit;
    .header-logo {
      height: 28px;
    }
  }
}

nav.navbar {
  background: none;
  .container-fluid {
    background: none;
    .header-logo {
      opacity: 0.8;
      transition: all 300ms;
      transform: scale(0.92);
      &:hover {
        opacity: 1;
        transform: scale(1);
      }
    }
    a.nav-link {
      color: $site-text;
      opacity: 0.8;
      transition: all 300ms;
      margin-left:10px;
      &:hover {
        color: $site-text;
        opacity: 1;
      }
    }
  }
}
*/

// nav.navbar {
//   background: gold;
//   .container-fluid {
//     background: red;
//     .header-logo {
//       height: 34px;
//       margin: 0 auto;
//     }
//   }
// }
