@import "./../../styles/variables.scss";


$navbar-height: 80px;
$logo-height: 50px;

nav.navbar {
  padding: 0;
  height: $navbar-height;
  .container-fluid {
    display: flex;
    height: inherit;
    .header-logo {
      height: $logo-height;
    }
  }
}

nav.navbar {
  a.nav-link {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: all 200ms;
  }
}

nav.navbar {
  background: none;
  .container-fluid {
    background: none;
    a.nav-link {
      color: $text-color;
      opacity:0.7;
      &:hover {
        opacity:1;
      }
    }
  }
}

// nav.navbar {
//   background: gold;
//   .container-fluid {
//     background: red;
//     .blur-box {
//       background: blues;
//     }
//   }
// }
