@import "./../../styles/variables.scss";

$footer-height: 250px;
$logo-height: 50px;

div.footer {
  height: $footer-height;
  .footer-logo {
    height: $logo-height;
  }
}

div.footer {
  background: lighten($base-color, 30%);
}
 