@import "./../../styles/variables.scss";

$bubble-chart-height: 500px;
$bubble-header-height: 100px;
$bubble-wrapper-height: $bubble-chart-height - $bubble-header-height;
$bubble-column-height: $bubble-wrapper-height;

.bubble-chart-wrapper {
  height: $bubble-chart-height;
  height: auto;
  width: 100%;
  .bubble-header {
    height: $bubble-header-height;
  }
  .bubble-wrapper {
    position: relative;
    top:0;
    width: 100%;
    height: $bubble-wrapper-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    .centerline {
      position: absolute;
      height: 2px;
      width: 100%;
    }
    .bubble-column {
      position: relative;
      top:0;
      height: $bubble-wrapper-height;
      // display: flex;
      // align-items: center;
      // overflow: hidden;
      padding: 0 8px;
    }
  }
}

.bubble-chart-wrapper {
  .bubble-wrapper {
    .centerline {
      background: lighten($background-color, 40%);
    }
  }
}

.bubble-chart-wrapper {
  background: gold;
  .bubble-header {
    background: blue;
  }
  .bubble-wrapper {
    background: green;
    .bubble-column {
      background: brown;
    }
  }
}
