@import "./../../../styles/variables.scss";

$box-height: 150px;

.box {
  position: relative;
  left: 0;
  height: $box-height;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
  }
  .invested {
    text-transform: uppercase;
    font-weight: 400;
  }
  .value {
    font-size: 1.7em;
    transition: all 800ms;
    .arrow {
      width: 30%;
    }
    span.percent {
      opacity: 0.5;
      font-size: 0.8em;
    }
  }
}

.box {
  // They start smaller to prevent overflow onHover
  cursor: pointer;
  &:hover {
    transform: scale(1);
  }
}

.box {
  color: $text-light;
  &.good {
    background-color: $green;
  }
  &.bad {
    background-color: $red;
  }
  &.unchanged {
    background-color: $gray;
  }
}

// .box {
//     background-color: $gray;
//   &.good {
//     background-color: $green;
//   }
//   &.bad {
//     background-color: $red;
//   }
//   &.unchanged {
//     background-color: $gray;
//   }
//   .title {
//   }
//   .value {
//     .arrow {
//     }
//     .count {
//       span.percent {
//       }
//     }
//   }
// }
