$color-base: #2c364e;
$color-contrast: #478fec;
$color-gray: #5d666f;

$navbar-height: 64px;
$logo-block-height: 22px;

$chart-height:500px;

$card-height: 300px;
$card-header-height: 70px;
$card-button-height: 50px;
$card-content-height: ($card-height - $card-header-height);

$success: rgb(23, 146, 23);
$primary: rgb(16, 140, 189);
$warning: rgb(240, 157, 33);
$danger: rgb(233, 27, 27);